<html>

<head>
    <title>Stock Admin</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="icon/favicon.ico">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.js"></script>
    <style>
        .glyphicon-thumbs-up {
            cursor: pointer
        }
    </style>
</head>

<body ng-app="stockAdmin">
    <!-- NAVIGATION -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="#"><img ng-src="images/logo.png" alt="B2W Digital" width="25" height="25" />
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">Busca</a>
            </li>
            <li><a ui-sref="register">Inserir Nova Priorização</a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1>Prioridades por Estrutura</h1>
            </div>
            <ui-view></ui-view>
        </div>
    </div>
    <!-- HOME -->
    <script type="text/ng-template" id="/home.html">
        <form ng-submit="retrievePriorities()" style="margin-top:30px;" class="form-horizontal">
            <h3>Busca</h3>
            <div class="form-group">
                <div class="col-md-4">
                    <select ng-model="brand" class="form-control" ng-options="x for x in names"></select>
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" placeholder="Sku/Estrutura" ng-model="title"></input>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>

            <table ng-table="rowCollection" class="table table-striped">
                <tr ng-repeat="row in rowCollection">
                    <td title="'Brand'" sortable="'brand'">
                        {{row.brand}}</td>
                    <td title="'Estrutura'" sortable="'structure'">
                        {{row.structure}}</td>
                    <td title="'Prioridade'" sortable="'priority'">
                        {{row.priority}}</td>
                    <td title="'Subinventário'" sortable="'subinventory'">
                        {{row.subinventory}}</td>
                    <td title="'Warehouse'" sortable="'warehouse'">
                        {{row.warehouse}}</td>
                    <td>
                        <span class="glyphicon glyphicon-remove" ng-click="removeRow(row)"></span> {{post.upvotes}} </td>
                </tr>
            </table>
            </div>
        </form>


    </script>

    <!-- INSERT NEW -->
    <script type="text/ng-template" id="/register.html">
        <form ng-submit="addComment()" style="margin-top:30px;">
            <h3>Inserir nova priorização</h3>
            <div class="form-group">
                <select ng-model="brand" class="form-control" ng-options="x for x in names"></select>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Sku/Estrutura" ng-model="structure"></input>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Prioridade" ng-model="priority"></input>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Subinventário" ng-model="subinventory"></input>
            </div>
            <div class="form-group">
                <select ng-model="warehouse" class="form-control" ng-options="x for x in warehouses"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Inserir</button>
            </div>
        </form>
    </script>
</body>

</html>